html {
  height: 100%;
  width: 100%;
  background-color: #793140;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
.dropdown {
  float: center;
  overflow: hidden;
}
.navbar.menu{
  float: center;
}
.navbar.dropdown{
  float: center;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: gray;
}
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content{
  display: block;
}


/* sets font, text alignment, padding, and display for the home page */
body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  text-align: center;
  padding-bottom: 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* styles upload image button */
#UploadImage{
  cursor: pointer;
  background: white;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
}

/* styles submit button */
button{
  cursor: pointer;
  background: white;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
}


.form {
  width: 200px;
  height: 20px;
}

#description {
  width: 400px;
  height: 30px;
}

h1{
  padding-top:100px
}
